# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summerised

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java
6. Julia
7. Ruby
8. Go
9. Visual Basic
10. PHP
11. Scala

Some of the commonly used libraries used by Data Scientists include:
 1. Tensorflow 
 2. NumPy
 3. SciPy
 4. Pandas
 5. Matplotlib
 6. Keras
 7. SciKitLearn
 8. PyTorch etc
 9. Seaborn
 10. Apache Spark
 11. Big Dl
 12. Ggplot2

|Data Science Tool|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

# Below are a few examples of evaluating arithmetic expression in Python

In [3]:
#this is a common arithmetic examples to multiply and then add integers 
(2*5)+7

17

In [4]:
#this will convert 200 mintues to hours by dividing by 60
200/60

3.3333333333333335

__Objectives__
* List popular languages of Data Science 
* List popular libraries of Data Science
* List of well known Data Science Tools 
* How to provide comments in the cell

## Author 
Suhana Bagwan